{% extends 'Base.html' %}
{% load static %} 

{% block content %}

<div class="header-piso wrapper-piso">
    <a class="modal-btn secondary" href="/">REGRESAR</a>

</div>

<div class="mapa-wrapper" >

    <div class="info-piso">
        <h3>INFORMACION</h3>
        
        <a class="modal-btn secondary" style="margin: 1rem; background-color: #f34646;" href="{{CAMARA_URL}}">CREAR CAMARA</a>

        <div class="table-informes">
            <section>
                <strong></strong>
                <div>
                    <a id="create-link" class="create-link disabled" > CREAR INFORME</a>
                    <a id="updateCamara" class="create-link disabled" > ACTUALIZAR</a>
                </div>
                

            </section>
            
            <table>
                <thead>
                    <tr>
                        <th>Autor</th>
                        <th>Nombre</th>
                        <th>Opciones</th>
                    </tr>
                  
                </thead>
                <tbody id="tbody-rows">
                    <tr>
                        <td colspan="3">Ninguna camara fue seleccionada</td>
                    </tr>
                </tbody>
            </table>
     

        </div> 
       
    </div>

    <div >
        <h4>{{ piso.nombre }}</h4>
        <div class="mapa-control-wrapper">            
            <label>CAMARAS</label>
            <select id="objectSelect">

                <option value="">---------</option>
                {% for obj in MARCADORES %}
                <option value="{{ obj.id }}">{{ obj.nombre }}</option>
                {% endfor %}
            </select>
            
            <button id="addMarkerBtn">AGREGAR MARCADOR</button>
        </div>
        <div class="alert-message" id="alertMessage"></div>

        
        <div class="mapa-control-wrapper">
            <button class="save-btn" onclick="guardarUbicaciones()">GUARDAR</button>
        </div>
        
        <div  id="mapa-image" ></div>

    </div>

    
</div>

{% endblock %}

{% block custom_scripts %}
<script src="{% static 'LIB/leaflet/leaflet.js' %}"></script>
<script>
   
// ESTABLECER IMAGEN
const imageUrl = '{{ piso.imagen.url }}';
const imageWidth = '{{ image_width }}';     
const imageHeight = '{{ image_height }}';   

const imageBounds = [[0, 0], [imageHeight, imageWidth]];

const map = L.map('mapa-image', {
    crs: L.CRS.Simple,
    maxZoom: 5,       
    minZoom: -4,      
    zoomSnap: 0.5,   
    maxBounds: imageBounds,
    
}).setView([0, 0], 0);

L.imageOverlay(imageUrl, imageBounds).addTo(map);
map.fitBounds(imageBounds);    


// ESTABLECER MARCADORES

const marcadores = JSON.parse("{{ PUNTOS|escapejs }}");
const markers = {}; 
let addingMarker = false;
    
marcadores.forEach(marcador => {
    if (marcador.latitud && marcador.longitud) {
        const leafletMarker = L.marker([marcador.latitud, marcador.longitud]).addTo(map)
            .bindPopup(`<b>${marcador.nombre}</b>`)
            .on('click', function () {
                llamarFuncionConId(marcador.id);
            });

        markers[marcador.id] = leafletMarker;
    }
});
  

// SELECCIONAR
document.getElementById('addMarkerBtn').addEventListener('click', function() {
    const selectedObject = document.getElementById('objectSelect').value;
    document.getElementById('alertMessage').textContent = '';  
    
    if (!selectedObject) {
        document.getElementById('alertMessage').textContent = 'Por favor, seleccione una camara';  
        return;
    }
    
    addingMarker = !addingMarker;  
    if (addingMarker) {
        this.textContent = 'Haz clic en el mapa para agregar el marcador';  
    } else {
        this.textContent = 'AGREGAR MARCADOR';  
    }
});

    
const objectSelect = document.getElementById('objectSelect');
    objectSelect.addEventListener('change', function() {
        addingMarker = false;
        addMarkerBtn.textContent = 'AGREGAR MARCADOR'; 
        document.getElementById('alertMessage').textContent = ''; 
});

// CREAR MARCADORES 
map.on('click', function (e) {
    if (addingMarker) {
        const selectedObject = document.getElementById('objectSelect').value;

        if (selectedObject) {
            if (markers[selectedObject]) {
                map.removeLayer(markers[selectedObject]);
            }

            const lat = e.latlng.lat;
            const lon = e.latlng.lng;
            const marker = L.marker([lat, lon]).addTo(map)
                .bindPopup(`<b>${document.getElementById('objectSelect').options[document.getElementById('objectSelect').selectedIndex].text}</b>`);

            markers[selectedObject] = marker;

            marker.on('click', function () {
                llamarFuncionConId(selectedObject);
            });

            addingMarker = false;
            addMarkerBtn.textContent = 'AGREGAR MARCADOR';

        }
    }
});

// FUNCION PARA GUARDAR
function guardarUbicaciones() {
    const ubicaciones = Object.entries(markers).map(([id, marker]) => ({
        id,
        latitud: marker.getLatLng().lat,
        longitud: marker.getLatLng().lng
    }));


    fetch('{% url "actualizar_camaras_bulk" %}', {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',
        },
        body: JSON.stringify(ubicaciones),
    })
        .then(response => response.json())
        .then(data => {
            alert('Ubicaciones guardadas con éxito');
        })
        .catch(error => {
            console.error('Error al guardar las ubicaciones:', error);
        });
}


function llamarFuncionConId(id) {
    async function obtenerPisos() {
        try {
            const url = `/api/informes/${id}/`; 
            const response = await fetch(url);

            if (response.ok) {
                const informes = await response.json();
                
                const tbody = document.getElementById('tbody-rows');
                tbody.innerHTML = '';  

                
                const link = document.getElementById('create-link');
                link.classList.remove('disabled');
                link.href = `/informe_create/${id}`; 
                
                const updateCamara = document.getElementById('updateCamara');
                updateCamara.classList.remove('disabled');
                updateCamara.href = `/camara_update/${id}`; 

                informes.forEach(informe => {
                    const row = document.createElement('tr'); 
                    row.innerHTML = `
                        <td>${informe.autor}</td>  
                        <td>${informe.nombre}</td>

                        <td><a class="update-link" href="/informe_update/${informe.id}">Actualizar</a></td>
                    `;
                    tbody.appendChild(row); 
                });

                if (informes.length === 0) {
                    const row = document.createElement('tr'); 
                    row.innerHTML = `
                        <td colspan="3" style="text-align: center; background-color: gray;">No hay informes</td>
                    `;
                    tbody.appendChild(row); 
                }

            } else {
                console.error('Error al obtener los informes:', response.status);
            }
        } catch (error) {
            console.error('Error al hacer la solicitud:', error);
        }
    }

    obtenerPisos();
}

</script>
{% endblock %}
