{% extends 'Base.html' %}
{% load static %} 

{% block content %}
<div class="mapa-wrapper" >
    
    <div class="info-piso">
        <h3>INFORMACION</h3>
        <a class="modal-btn secondary">CREAR CAMARA</a>

    </div>

    <div >
        <h4>{{ piso.nombre }}</h4>
        <div class="mapa-control-wrapper">
            
            <label>UBICACION</label>
            <select id="objectSelect">
                <option value="">---------</option>
                {% for obj in MARCADORES %}
                <option value="{{ obj.id }}">{{ obj.nombre }}</option>
                {% endfor %}
            </select>
            
            <button id="addMarkerBtn">AGREGAR MARCADOR</button>
        </div>
        <div class="alert-message" id="alertMessage"></div>

        
        <div class="mapa-control-wrapper">
            <button class="save-btn" onclick="guardarUbicaciones()">GUARDAR</button>
        </div>
        
        <div  id="mapa-image" style="height: 500px; width: 100%;"></div>

    </div>

    
</div>

{% endblock %}

{% block custom_scripts %}
<script src="{% static 'LIB/leaflet/leaflet.js' %}"></script>
<script>

   
const imageUrl = '{{ piso.imagen.url }}'; // URL de la imagen
const imageWidth = {{ image_width }};     // Ancho real de la imagen
const imageHeight = {{ image_height }};   // Altura real de la imagen

const imageBounds = [[0, 0], [imageHeight, imageWidth]];

const map = L.map('mapa-image', {
    crs: L.CRS.Simple,
    maxZoom: 5,       // Permitir zoom detallado
    minZoom: -4,      // Zoom inicial reducido para que se vea completa
    zoomSnap: 0.5,    // Permitir niveles de zoom intermedios
}).setView([0, 0], 0);

L.imageOverlay(imageUrl, imageBounds).addTo(map);

map.fitBounds(imageBounds);

    

    const marcadores = JSON.parse('{{ PUNTOS|safe|escapejs }}');
    const markers = {}; 
    let addingMarker = false;

    
    // Cargar los marcadores existentes
    marcadores.forEach(marcador => {
        if (marcador.latitud && marcador.longitud) {
            const leafletMarker = L.marker([marcador.latitud, marcador.longitud]).addTo(map)
                .bindPopup(`<b>${marcador.nombre}</b>`)
                .on('click', function () {
                    llamarFuncionConId(marcador.id);
                });

            markers[marcador.id] = leafletMarker;
        }
    });
  
    // SELECCIONAR
    document.getElementById('addMarkerBtn').addEventListener('click', function() {
        const selectedObject = document.getElementById('objectSelect').value;
        document.getElementById('alertMessage').textContent = '';  
        
        if (!selectedObject) {
            document.getElementById('alertMessage').textContent = 'Por favor, seleccione una ubicacion';  
            return;
        }
        
        addingMarker = !addingMarker;  
        if (addingMarker) {
            this.textContent = 'Haz clic en el mapa para agregar el marcador';  
        } else {
            this.textContent = 'AGREGAR MARCADOR';  
        }
    });

    // Cuando se cambia el select de objetos
    const objectSelect = document.getElementById('objectSelect');
    objectSelect.addEventListener('change', function() {
        addingMarker = false;
        addMarkerBtn.textContent = 'AGREGAR MARCADOR'; 
        document.getElementById('alertMessage').textContent = ''; 
    });

    // CREAR MARCADORES (al hacer clic en el mapa)
    map.on('click', function (e) {
        if (addingMarker) {
            const selectedObject = document.getElementById('objectSelect').value;

            if (selectedObject) {
                // Si el marcador ya existe, se elimina antes de agregar el nuevo
                if (markers[selectedObject]) {
                    map.removeLayer(markers[selectedObject]);
                }

                const lat = e.latlng.lat;
                const lon = e.latlng.lng;
                const marker = L.marker([lat, lon]).addTo(map)
                    .bindPopup(`<b>${document.getElementById('objectSelect').options[document.getElementById('objectSelect').selectedIndex].text}</b>`);

                markers[selectedObject] = marker;

                // Agregar el evento de clic al nuevo marcador
                marker.on('click', function () {
                    llamarFuncionConId(selectedObject);
                });

                addingMarker = false;
                addMarkerBtn.textContent = 'AGREGAR MARCADOR';

                console.log(`Guardando marcador para ID ${selectedObject}: (${lat}, ${lon})`);
            }
        }
    });

    // Función para guardar las ubicaciones
    function guardarUbicaciones() {
        const ubicaciones = Object.entries(markers).map(([id, marker]) => ({
            id,
            lat: marker.getLatLng().lat,
            lon: marker.getLatLng().lng
        }));

        console.log("Enviando las siguientes ubicaciones al servidor:", ubicaciones);

        fetch('', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify(ubicaciones),
        })
            .then(response => response.json())
            .then(data => {
                alert('Ubicaciones guardadas con éxito');
            })
            .catch(error => {
                console.error('Error al guardar las ubicaciones:', error);
            });
    }



    function llamarFuncionConId(id) {
        console.log('Se ha hecho clic en el marcador con ID:', id);
    
    }
</script>
{% endblock %}
